@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
    scroll-behavior: smooth;
}
.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
  }
  
  .social i:hover {
    transform: translateY(-10px);
  }
  .home_img {
    position: relative;
    animation-name: myfirst;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  
  }
  
  @keyframes myfirst {
    0% {
      top: 0px;
    }
  
    50% {
      top: 30px;
    }
  
    100% {
     top:0px;
  }
  }
 